h1, h3 {
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: "Essence Sans"; /* Гарнитура шрифта */
    src: url("../fonts/essencesans.ttf"); /* Путь к файлу со шрифтом */
 }
@font-face {
   font-family: "Essence Sans Bold";
   src: url("../fonts/EssenceSansBold.ttf");
}
 @font-face {
   font-family: "Helvetica Neuel LT";
   src: url("../fonts/HelveticaNeuelLt.otf");
}
@font-face {
   font-family: "Attentica 4F UltraLight";
   src: url("../fonts/Attentic4FUltraLight.otf");
}
@media (min-width: 2200px){	
}
body {
	font-family: Arial, sans-serif;
	background-color: #2d2d2d;
	color: #7f8b91;
	text-transform: uppercase;
}
header {
	background: url(../img/header.png) no-repeat center top / cover;
	height: 400px;
}
.pic {
	position: relative;
	text-align: center;
}
.title h3 {
	font-family:"Essence Sans Bold";
	font-size: 48pt; 
	color: #08dbe3;
}
.title {
	text-align: center;
	padding-top: 80px;
}
.title h1{
	font-family:"Essence Sans"; 
	font-size: 72pt;
	line-height: 0,5em;
	color: #fefefe;
}
.contacs {
	padding-top: 8px;
	font-size: 30px;
	font-family:"Helvetica Neuel LT";
}
.allabout {
	margin-top: 80px
}
p {
	font-family: "Attentica 4F UltraLight";
	font-size: 60pt;
	color: #696868;
	font-weight: normal;
	margin-bottom: 40px;
	margin-top: 20px;
	text-align: left;
}
.exp {
	font-family: "Attentica 4F UltraLight";
	font-size: 60pt;
	color: #696868;
	font-weight: normal;
}
.ui {
	color: #08dbe3;
	font-family: "Helvetica Neuel LT";
	font-size: 18pt;
	text-align: center;
	line-height:1;
	padding-right: 8px;
	padding-left: 8px; 
}
article {
	font-family:"Helvetica Neuel LT";
   	color: #868686;
   	font-size: 36pt;
   	text-transform: none;
   	line-height: 1.1;
   	font-variant: small-caps;
}
#center p{
	text-align: center;
	margin: 0;
	padding: 0;
}
#center h4 {
	font-family: "Attentica 4F UltraLight";
	color: #08dbe3;
	font-size: 40pt;
	font-weight: normal;
	padding-top: 35px;
}
#center h6 {
	font-family: "Attentica 4F UltraLight";
	font-size: 28pt;
	font-weight: normal;
	line-height: 1.2;
}
.experience {
	margin-top: 60px;
}
table {
	width: 100%;
}
.pics img {
	margin-right: 20px;
}
.allskill th{
	font-family:"Helvetica Neuel LT";
	color: #808080;
	font-size: 30pt;
	font-weight: normal;
	text-transform: none;
	font-variant: small-caps;
	line-height: 0.8;
	padding-top: 10px;
}
.allskill img {
	margin-right: 7px;
}
